<a href="https://colab.research.google.com/github/dufma9385/Python_machinelearning/blob/master/python_%EC%A1%B0%EA%B1%B4%EB%AC%B8%2C_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# statement(문)
# 1) simple statement
#    assignment (대입문): a = 10
#    return, break, continue, pass
#    expression : 한 개의 객체로 간주됨(만들어짐, 반환)
#    콜론(:) 뒤에 바로 사용 가능, 콤마(,)를 사용하여 나열 가능
# 2) compound statement
#    def, class, with, try, if, for, while : ':' 을 포함   header : body
#    콜론(:) 뒤에서 줄바꿈 한뒤, 들여쓰기해서 사용해야 함


# expression(식)
# a : 이름
# 10 : 상수
# subscription, slicing 및 연산자들 (산술연산, 비교연산, 논리연산, 비트연산 ....)
# is, is not, in, not in 
# 함수식(function expression) (lambda )
# 조건식(conditional expression) ( "A" if condition else "B" )
# 함수 호출(function call)식  : print(A)
# comprehension expression : list, set, dict, GE(generator expression) - iterator 를 생성

## 1.조건문 (P62)
    - if
    - if-else
    - if-elif-else

### if ~ else 사용 (P62)

In [ ]:
gender = input("성별을 입력하세요. MALE or FEMALE: ")

if gender == "MALE" :
    print("남성입니다.")
else:
    print("여성입니다.")

성별을 입력하세요. MALE or FEMALE: FEMALE
여성입니다.

In [ ]:
gender = input("성별을 입력하세요. MALE or FEMALE: ")
print(f'{"남성" if gender == "MALE" else "여성"}입니다')

성별을 입력하세요. MALE or FEMALE: FEMALE
여성입니다

In [ ]:
print(f'{"남성" if input("성별을 입력하세요. MALE or FEMALE: ") == "MALE" else "여성"}입니다')

성별을 입력하세요. MALE or FEMALE: MALE
남성입니다

In [ ]:
a = '891102-4123412'
# 여성 : 2, 4
# 남성 : 1, 3

#if a[-7] == '1' or a[-7] == '3' :
#if a[7] == "1" or a[7] == "3":
if a[7] in ['1', '3'] :
    print("남성입니다.")
else:
    print("여성입니다.")

여성입니다.

In [ ]:
money = 1000
if money:
    print("bus")
    print("타고")

bus
타고

In [ ]:
money = 1000
if money: print("bus"), print("타고")

bus
타고

### 01 if문 연습문제 1 (비만도구하기)  (P64)
- 몸무게 + 100 – 키를 비만 수치 공식이라고 할 때 키와 몸무게를 입력 받아 첫 번째 줄에 비만 수치를 출력하고, 비만 수치가 0보다 크면 다음 줄에 비만이라는 메시지를 출력하는 프로그램을 작성하시오.

In [ ]:
info = input('키 몸무게 입력 예) 155 60 : ')
# code here
# 입력 : 155 60
# 출력
# 비만수치는 5 입니다.
# 당신은 비만입니다.
# info.split() # ['155', '60']
# list(map(int, info.split()))  # [155, 60]
height, weight = map(int, info.split())
#print(height, weight)

fat = weight + 100 - height
print(f'비만수치는 {fat} 입니다.')
if fat > 0 : 
    print('당신은 비만입니다.')

키 몸무게 입력 예) 155 60 : 155 50
비만수치는 -5 입니다.

### if ~ elif ~ else 사용 (P65)

In [ ]:
gender = input("성별을 입력하세요. MALE or FEMALE: ")

# code here
if gender == 'MALE' :
    print('남성입니다.')
elif gender == 'FEMALE' :  
    print('여성입니다.')
else :
    print('잘못된 입력값입니다.')

성별을 입력하세요. MALE or FEMALE: aaa
잘못된 입력값입니다.

In [ ]:
# 다른 방법
data = input("성별을 입력하세요. MALE or FEMALE: ")
gender = {'MALE': '남성', 'FEMALE' : '여성'}
print(gender.get(data, '잘못된 입력값') + '입니다.')

성별을 입력하세요. MALE or FEMALE: SPYPU
잘못된 입력값입니다.

#### 3항 연산자 (conditional expression)
- True-Value if condition else False-Value
- True-Value, False-Value, condition : expression 형태로 사용

In [ ]:
a = 10 if 3 > 2 else 20
a

10

In [ ]:
a = 10 if 3 < 2 else 20
a

20

#### expression을 사용할 수 있는 위치
- assignment의 오른쪽 (r-value)
   - a = expression
- 함수의 argument
   - function(expression)
- 함수의 return 뒤
   - return expression

### 02 if문 연습문제 2(학점출력) (P67)
- 점수를 입력 받아서 90점 이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 70점 미만이면 D를 출력하도록 프로그램을 작성하시오.

In [ ]:
score = int(input('성적입력 > '))

#code here
if score >= 90 :
  print("A")
elif score>=80 :    # elif score < 90 and score >= 80:  ( score < 90 는 사용하지 않아도 됨)
  print("B")
elif score>=70 :
  print("C")
else :
  print("D")

In [ ]:
#점수를 0 ~ 100으로만 제한하면 다음과 같이 풀이 가능함
grade = "DDDDDDDCBAA"
score = int(input('성적입력 > '))
print(grade[score//10])

성적입력 > 59
D

## 2.반복문
    - for
    - 2중 for
    - while 
    - break, continue

### 01 while문 (P67)

In [ ]:
gender=''
while gender != 'MALE' and gender != 'FEMALE':
    gender = input('성별을 입력하세요 >')
    
    if gender == 'MALE':
        print("남성입니다")
    elif gender == 'FEMALE':
        print("여성입니다.")
    else:
        print("잘못된입력값입니다")
    
    #print("남성입니다." if gender=="MALE" else "여성입니다." \
    #          if gender == "FEMALE" else "잘못된입력값입니다.")
print("종료")

성별을 입력하세요 >ㅁ
잘못된입력값입니다
성별을 입력하세요 >a
잘못된입력값입니다
성별을 입력하세요 >b
잘못된입력값입니다
성별을 입력하세요 >d
잘못된입력값입니다
성별을 입력하세요 >MALE
남성입니다
종료

### 02 while문 연습문제 1(1~100의 짝수의 합)  (P69)

In [ ]:
num = 1
tot = 0
# code here
while num <= 100 :
  tot += num   # 0 + 1 => 1,  1 + 2 => 3, 3 + 3 => 6
  num += 1     # 1 + 1 => 2,  2 + 1 => 3, 3 + 1 => 4
  #print(tot, num)

print(tot, num)

5050 101

### 03 while문 연습문제 2(별(*)출력하기) (P69)

In [ ]:
# code here
num = 1
while num <= 5 :
  print('*' * num)
  num += 1

*
**
***
****
*****

### 04 for문 (P70)

In [ ]:
colors = ['red', 'green', 'blue']
dir(colors)  # iterable (o), iterator (x)  : iterable => __iter__

In [ ]:
dir( iter(colors) )   # iterable (o), iterator (o) : iterator => __iter__, __next__
# iterator is iterable
# iterable -> iter에의해서 iterator가 될 수 있는

In [ ]:
x = iter(colors)
iter(x)

In [ ]:
colors = ['red', 'green', 'blue']  # iterable : __iter__를 가지고 iterator가 될 수 있는 객체
iter(colors)

In [ ]:
# iterator : iteration을 할 수 있는 주체 
# __next__ 를 가지고 다음 항을 가져올 수 있다.
# next()
next(iter(colors))

'red'

In [ ]:
colors = ['red', 'green', 'blue']
for c in colors:  # for  target_list  in iterable :
    print(c)

red
green
blue

In [ ]:
dir(map)   #  map :  iterator, iterator is iterable

In [ ]:
# iterable 은 name unpack
info = input('키, 몸무게 입력 : ')
height, weight = map(int, info.split())
#이 부분은 tuple 이나 다른 자료구조를 거치지 않고 어떻게 변수에 바로 숫자가 들어가나요?
height, weight

키, 몸무게 입력 : 155 60

(155, 60)

### 05 for문 연습문제 1(합격, 불합격) (P70)
- 시험 점수가 60점 이상이면 합격이고 그렇지 않으면 불합격입니다. 라는 결과를 보여주는 프로그램 구현

In [ ]:
result = [90, 35, 68, 44, 81]

# code here
for score in result :
   print( "합격" if score >= 60 else "불합격" )

for score in result :
   if score >= 60 :
      print('합격')
   else :
      print('불합격')

합격
불합격
합격
불합격
합격
합격
불합격
합격
불합격
합격

In [ ]:
a = [1, 2, 3]
a = iter(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a)) # for 문 종료

In [ ]:
# 추가코드 - for, if statement 없이 풀기 
result = [90, 35, 68, 44, 81]

r = '\n'.join(f"{n}번 학생은 {'합격' if r >= 60 else '불합격'}입니다"
          for n, r in enumerate(result, start=1))
print(r)

### 06 range를 이용한 for문 (P72)

In [ ]:
dir(range)

In [ ]:
for i in range(0, 10):
    print(i)

### 07 for문 연습문제 2(1~100의 합) (P72)

In [ ]:
# code here

tot = 0
for x in range(1, 101) :
    tot += x
    
print(tot)
print(sum(range(1, 101)))   # range(3, 11, 2)   3부터 10까지 2씩 증가하면서 반복

5050
5050

In [ ]:
# 1 ~ 100까지 홀수의 합
tot = 0 
for x in range(1,101,2):
   tot += x
print(tot)

2500

In [ ]:
tot = 0
for x in range(1, 101):
  if x%2:
    tot += x
print(tot)

2500

In [ ]:
sum(range(1, 11))
sum = 0  # sum 이라는 이름이 정수객체를 참조
sum(range(1, 11))

In [ ]:
type(globals()['sum'])
del sum
#type(sum)

builtin_function_or_method

In [ ]:
# x ~ y 까지의 홀수의 합
# x와 y는 모두 홀수이거나 짝수 일 수 있음
x, y = map(int, input('Input x y : ').split())

### 08 for 문의 중첩 (P73)

In [ ]:
matrix=[[1,2,3],
        [4,5,6],
        [7,8,9,10]]

for i in matrix:
    #print(i)
    for j in i:
        print(j, end = " ")
    print()

# 추가 (expression - comprehension)

#(   ' '.join(map(str, x)) for x in matrix)  # x = [1,2,3]    '1 2 3'
                                             # x = [4,5,6]    '4 5 6' 
                                             # x = [7,8,9,10] '7 8 9 10' 

#x = '\n'.join( ' '.join(map(str, x)) for x in matrix) 
#x = '1 2 3\n4 5 6\n7 8 9 10\n'                                             
#print('\n'.join( ' '.join(map(str, x)) for x in matrix))

1 2 3
4 5 6
7 8 9 10
1 2 3
4 5 6
7 8 9 10

### 09 for문 연습문제 3 (2~9단 출력) (P81)

In [ ]:
# code here
'''
2 4 6 8 10 ...
3 6 9 12 15 ...
...
9 18 27 ...

for 단을 변경
    for 곱하는 수 변경  :  # 한 개의 행을 출력
'''

for dan in range(2, 10):
  for x in range(1, 10) :
    print(f'{dan*x:2}', end=' ')
  print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

### 10 break, continue, pass  (P74)
- break : 현재 속한 반복문 종료
- continue : 현재 반복에 대해 루프 내부의 나머지 코드를 건너 뛰는데 사용
- pass : 아무 작업도 수행하지 않음 (임시함수, 무한 반복문)

In [ ]:
for i in range(10):  # 0 1 2 3 4 5 6 7 8 9
    if i == 2:
        continue
    if i == 5:
        break
    print(i, end=' ')  # 0 1 3 4 Done

print("Done")

0 1 3 4 Done

In [ ]:
def myfunc():
    pass

while True :
    pass

### 3. comprehension(내포)
- List, Set, Dictionary
   - 특정 리스트의 각 원소에 대해 식을 적용한 결과를 새로운 list, set, dict로 생성
- List Comprehension
   - [ expression for target_list in iterable if condition ]
- Set Comprehension
   - { expression for target_list in iterable if condition }
- Dict Comprehension
   - { expression : expression for target_list in iterable if condition }   
- Generator Expression (=iterator)
   - ( expression for target_list in iterable if condition )
   -  함수의 argument로 사용시 (  ) 생략가능

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[  str(x) for x in range(10) if x%2 ]

['1', '3', '5', '7', '9']

In [ ]:
s = [ x ** 2 for x in range(10)]
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
v = [ 2 ** x for x in range(13)]
v

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [ ]:
m = [x for x in s if x % 2 == 0 ]
#m = [x for x in s if not x % 2 ]
m

[0, 4, 16, 36, 64]

In [ ]:
# Set Comprehension
{ x**2 for x in range(10) }

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [ ]:
# Dict Comprehension
a = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
#a.items()
{ value : key for key, value in a.items() if value >= 20 }

{20: 'b', 30: 'c', 40: 'd'}

In [ ]:
a = [ dan * x  
  for dan in range(2, 10)      # 8
     for x in range(1, 10) ]   # 9
len(a)

72

In [ ]:
a = { dan * x  
  for dan in range(2, 10)      # 8
     for x in range(1, 10) }   # 9
len(a)

35

In [ ]:
s = ( x ** 2 for x in range(10) )
type(s)
# generator is iterator

generator

In [ ]:
print(next(s))
print(next(s))
print(next(s))

1
4
9